.sbo{
  background-color: rgba(228,232,236,255);
  color:black;
}

@media (max-width: 768px) {
  .sbo {
      margin-left: 0;
  }
  .btn {
      width: 100%;
  }
  .dropdown-menu {
      width:100%;
    }
  .show{
    width:50%;
  }   
  
  .col-auto {
    width: 100%;
  }
}