body, h1{
    margin: 0;
    padding: 0;
    font-family: 'Time New Roman';
    color: rgb(5,57,193);    
    margin-left:5px;
}
 
#middle{
    text-align: center;
    padding: 35px;
    font-size: 40px;
    font-family:'Abril Fatface', cursive;
}

.collect{
    margin-right:55px;
}
header h1{
    padding: 20px 90px;
    border-bottom: 1px solid black;   
    width:1250px;
    font-size:40px;
    margin:0px;
}

.banner{
    position: sticky;
}
.navbar{
    top: 0;
    width: 200px;
    z-index: 100;
}
.navbar tr{
        margin-right: 600px;
        list-style-type: none;
        white-space: nowrap;
        display: inline-block;
}
.navbar tr td{
    text-decoration: none;
    padding-left:15px;
}
.minions{
    padding: 10px;
    font-size: 15px;
    color:black;
    font-family: 'Time New Roman';
}

.cutlery{ 
    background-image: url("https://csci571.com/hw/hw3/images/Cutlery.png");
    background-repeat: no-repeat;
    height: 700px;
    width: 1250px;
    background-size: 1250px;
    background-attachment: fixed;
    position: static;
    background-position: 100px -150px;
    padding-right: 20px;
} 
.banner .welcome{
    padding: 40px;
    font-size: 37px;    
    position: absolute;
    left:50px;
    top: 55px;
}


.shop{
    border: 1px solid black;
    background-color: white;
    color:black;
    font-size: 25px;
    display: inline;
    margin-top: 75px;
    padding:15px 25px;
    float: left;
}
table{
    margin-left: 70px;
}

.bedroom, .bathroom{
    margin-left: 75px;
}
.container{
    padding-left: 15px;
}
.decor{
    padding-left: 15px;
}
.join{
    color: rgb(5,57,193);
    padding-left: 5px;
}
.banner{
    align-items: center;
    text-align: center;
}
h3{
    padding-top:30px;
    padding-bottom:70px;
    font-size: 30px;
}

div.banner{
    font-size: 50px;
    padding: 20px;
    margin-left: 60px;
}

tr,td,table{
    text-align: center;
}