th{
    padding:15px;
}
.positionRelative{
    position: relative;

}

.percentageValue {
    top: 10%;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}