<div class="alert alert-warning" role="alert" *ngIf="itemDetails.length === 0" style="margin-top:20px;width:70%;margin-left:auto;margin-right: auto;">
    No Records.
   </div>
<div class="container">
<div class="product" style="margin:auto;padding:auto;">
    <div id="fb-root"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            {{itemDetails[23][1]}}
        </div>
        </div>
<div class="row">
    <div class="col-md-2">
        <div class="btn"  >< List</div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
       
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="fb-share-button col-md-3" data-href="https://developers.facebook.com/docs/plugins/" data-layout="" data-size=""><a href="https://www.facebook.com/sharer/sharer.php?u={{itemDetails[5][1]}}&quote=Buy {{itemDetails[23][1]}} at {{itemDetails[16][1].Value}} from link below" target="_blank"><i style="font-size: 24px;" class="fa fa-facebook-square"></i></a></div>
            <div class="btn col-md-3"> <span class="material-icons shopping">add_shopping_cart</span></div>
        </div>
        
    </div>
</div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6" style="text-align: right;">
        <div class="btn"  (click)="showProduct()"  [class.active-button]="product">Product</div>
        <div class="btn"  (click)="showPhoto()" [class.active-button]="photo">Photos</div>
        <div class="btn" (click)="showShopping()" [class.active-button]="shopping">Shipping</div>
        <div class="btn"  (click)="showSeller()" [class.active-button]="seller">Seller</div>
        <div class="btn"  (click)="showSimilar()" [class.active-button]="similar">Similar Products</div>
    </div>
    <hr>
  </div>

<div class="table-responsive" *ngIf="product">
    <table class="table table-striped table-dark table-hover table-sm">
            <tbody>
                    <tr>
                        <th>Product Images</th>
                      <th><a [href]="itemDetails[9][1][0]" target="_blank">View Product Images Here</a></th>
                    </tr>
                    <tr><th>
                        Price
                    </th>
                    <th>${{itemDetails[17][1].Value}}</th>
                </tr>
                <tr>
                    <th>
                        Location
                    </th>
                    <th>
                        {{itemDetails[7][1]}}
                    </th>
                </tr>
                <tr>
                    <th>Return Policy</th>
                    <th>{{itemDetails[29][1].ReturnsAccepted + ' Within '
                        + itemDetails[29][1].ReturnsWithin}}</th>
                </tr>
                <ng-container *ngFor="let item of itemDetails[24][1].NameValueList">
                <tr>
                    <th>
                        {{item.Name}}
                    </th>
                    <th>
                        {{item.Value}}
                    </th>
                </tr>
                </ng-container>
           </tbody>          
    </table>
</div>

<app-photos *ngIf="photo"></app-photos>
<app-seller *ngIf="seller" [returnsAccepted]="returnsAccepted"></app-seller>
<app-shipping *ngIf="shopping" [shippingDetails]="shippingDetails" [returnsAccepted]="returnsAccepted">
</app-shipping>
<app-similar-products *ngIf="similar" [itemId]="itemDetails[2][1]"></app-similar-products>
</div>
</div>