.shopping{
    background-color: white;
    color:gold;
}
.table-responsive{
    width:80%;
    margin:0px auto;
}   
.custom-link {
    color: #007bff; /* Apply your custom link color here */
    text-decoration: none;
}
.custom-link:hover{
    cursor: pointer;
}
.custom-link:visited {
    color: #4a90e2;
}