<div class="alert alert-warning" role="alert" *ngIf="wishListData.length === 0" style="margin-top:20px;width:70%;margin-left:auto;margin-right: auto;">
 No Records.
</div>
<div *ngIf="wishListData.length>0">
  <div class="detail row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <button class="col-md-4 btn btn-light" style="text-align: center;" [disabled]="!enableDetailsButton" (click)="showProduct(); enableDetailsButton = false">Detail ></button>
  </div>
        <div class="table-responsive tbr" *ngIf="!showDetailsTab" >
          <table class="table table-dark table-hover table-sm">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Image</th>
                      <th scope="col">Title</th>
                      <th scope="col">Price</th>
                      <th scope="col">Shipping Option</th>
                      <th scope="col">Favorite</th>
                  </tr>
              </thead>
              <tbody>
                  <ng-container *ngFor="let item of wishListData.slice((currentPage-1)*itemsPerPage, currentPage*itemsPerPage); let i=index">
                    <tr (click)="onItemClick(item); enableDetailsButton=true">
                      <td scope="row">{{ (currentPage - 1) * itemsPerPage + i }}</td>
                      <td scope="row"><a (click)="getSingleItem(item.itemId, ((currentPage - 1) * itemsPerPage + i))" [href]="item.galleryURL" target="_blank"><img [src]="item.galleryURL" alt="image"></a></td>
                      <td scope="row">
                        <a (click)="getSingleItem(item.itemId, ((currentPage - 1) * itemsPerPage + i))" [href]="" class="custom-link tooltip-trigger" [attr.data-title]="item.title ? item.title : 'N/A'" matTooltip="{{item.title}}" matTooltipPosition="below">
                          {{ item.title ? truncateWithEllipsis(item.title, 35) : 'N/A' }}
                        </a>
                      </td>
                      <td scope="row">$ {{item.price ? item.price : "N/A"}}</td>
                      <td scope="row">
                          {{ item.shippingPrice === '0.0' ? 'Free Shipping' : '$ '+(item.shippingPrice ) || 'N/A' }}
                        </td>      
                      <td scope="row"><button class="btn shopping" (click)="removeFromWishlist(item)">
                        <span class="material-icons" style="color:gold;">remove_shopping_cart</span>  
                          </button>
                        </td>
                      </tr>
                  </ng-container>
                  <tr>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"><strong>Total Shopping</strong></th>
                    <th scope="row"><strong>$ {{totalPrice}}</strong></th>
                  </tr>
              </tbody>
          </table>
          <!-- <nav arial-label="Page navigation">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" (click)="goToPage(currentPage - 1)" [attr.href]="currentPage === 1 ? null : 'javascript:void(0)'">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of getPages()">
                  <a class="page-link" (click)="goToPage(page)" [class.active]="currentPage === page">{{ page }}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" (click)="goToPage(currentPage + 1)" [attr.href]="currentPage === totalPages ? null : 'javascript:void(0)'">Next</a>
                </li>
              </ul>
            </nav>   -->
      </div>
  </div>
  <app-details *ngIf="showDetailsTab" (backToList)="onBackToList($event)" [itemDetails]="singleItemDetails" [shippingDetails]="shippingDetails" [returnsAccepted]="returnsAccepted" ></app-details>
