<div class="alert alert-warning" role="alert" *ngIf="photos.length === 0" style="margin-top:20px;width:70%;margin-left:auto;margin-right: auto;">
    No Records.
</div>
<div class="row"> 
    <div class="column">
    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:20%">
    </div>
    <div class="column">
    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:40%">
    </div>  
    <div class="column">
    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:40%">
    </div>
  </div>