<div class="alert alert-warning" role="alert" *ngIf="photos.length === 0" style="margin-top: 20px; width: 70%; margin-left: auto; margin-right: auto;">
    No Records.
</div>

<div *ngIf="photos.length > 0">
                <div class="row g-sm-3">
                    <div class="col-sm-4 ps-0">
                         <ng-container *ngFor="let item of photoTab; let i=index">
                            <ng-container *ngIf="i%3===0 && i!=6">
                                <a [href]="item" target="_blank">
                                    <img [src]="item" class="img-fluid border border-dark m-1" style="width:100%;border-width: 8px !important;">
                                </a>
                            </ng-container>
                         </ng-container>
                    </div>
                    <div class="col-sm-4 ps-0">
                        <ng-container *ngFor="let item of photoTab; let i=index">
                           <ng-container *ngIf="i%3===1 && i<9">
                               <a [href]="item" target="_blank">
                                   <img [src]="item" class="img-fluid border border-dark m-1" style="width:100%;border-width: 8px !important;">
                               </a>
                           </ng-container>
                        </ng-container>
                   </div>
                   <div class="col-sm-4 ps-0">
                    <ng-container *ngFor="let item of photoTab; let i=index">
                       <ng-container *ngIf="i%3===2">
                           <a [href]="item" target="_blank">
                               <img [src]="item" class="img-fluid border border-dark m-1" style="width:100%;border-width: 8px !important;">
                           </a>
                       </ng-container>
                    </ng-container>
               </div>
                </div>
</div>