<div class="alert alert-warning" role="alert" *ngIf="this.shippingDetails.length === 0" style="margin-top:20px;width:70%;margin-left:auto;margin-right: auto;">
    No Records.
</div>
<div class="table-responsive">
    <table class="table table-dark table-hover table-sm tbl">
            <tbody>
                    <tr>
                        <th>Shipping Cost</th>
                        <th>{{this.shippingDetails["shippingServiceCost"][0].__value__ === '0.0' ? 'Free Shipping'  : '$ '+ this.shippingDetails["shippingServiceCost"][0].__value__ || 'N/A' }}  </th>
                    </tr>
                    <tr><th>
                        Shipping Locations
                    </th>
                    <th>
                        {{this.shippingDetails["shipToLocations"][0]}}
                    </th>
                </tr>
                <tr>
                    <th>
                    Handling Time
                    </th>
                    <th>
                     {{this.shippingDetails["handlingTime"][0]}} Day
                    </th>
                </tr>
                <tr>
                    <th>Expedited Shipping</th>
                    <th>
                        <span *ngIf="shippingDetails['expeditedShipping'][0] === 'true'" class="material-icons" style="color:green;"> 
                            done
                        </span>
                        <span *ngIf="shippingDetails['expeditedShipping'][0] === 'false'" class="material-icons"  style="color:red;">
                            close
                        </span>
                         
                    </th>
                </tr>
          
                <tr>
                    <th>
                        One Day Shipping
                    </th>
                    <th>
                        <span *ngIf="shippingDetails['oneDayShippingAvailable'][0] === 'true'" class="material-icons" style="color:green;">
                            done
                        </span>
                        <span *ngIf="shippingDetails['oneDayShippingAvailable'][0] === 'false'" class="material-icons" style="color:red;">
                            close
                        </span>
                    
                    </th>
                </tr>
                <tr>
                    <th>Return Accepted</th>
                            <th>
                                <span *ngIf="returnsAccepted['returnsAccepted'][0] === 'true'" class="material-icons" style="color:green;">
                                    done
                                </span>
                                <span *ngIf="returnsAccepted['returnsAccepted'][0]=== 'false'" class="material-icons" style="color:red;">
                                    close
                                </span>
                            </th>
                </tr>
                <!-- {{this.shippingDetails}} -->
           </tbody>          
    </table>
</div>