.ast {
  color: red;
}
.box{
  margin-left:-40px;
}
#distance{
  height:45px;
  border-radius:5px;
  width: 110px;
  margin-left:-40px;
}
#keyword {
  margin-left: -40px;
  width: 350px; /* Let the width be determined by the content */
  margin-top: -10px;
  padding: 10px; /* Add padding for better visibility */
  box-sizing: border-box; /* Include padding in the width */
  max-width: 100%; /* Ensure the input doesn't overflow its container */
}
.category-dropdown-container{
  margin-left: -50px;
  margin-top: -40px;
  padding: 10px; /* Add padding for better visibility */
}
#categoryDropdown{
  width:350px;
  margin:auto;
  text-align: center;
  margin-left:-40px;

}
#check{
  margin-left:-40px;
}
.container {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  padding: 20px;
  color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#rad{
  margin-left:-250px;
}
mat-form-field{
  width:350px;
  height:70px;
  margin-left:-250px;
}
#reset{
  margin-left:50px;
}
.error{
  margin-left:-40px;
}

@media screen and (max-width: 400px) {
  .container {
    width: 100%;
    padding: 10px; /* Adjust padding for smaller screens */
  }
  #sub{
    width:100px;
  }
  #reset{
    width:100px;
  }
  mat-form-field{
    width:300px;
    height:70px;
    margin:auto;
  }
  #keyword {
    width:350px;
    margin:auto;
    margin-top:10px;
  }
  #rad{
    margin:auto;
  }
#categoryDropdown{
  width:310px;
  margin:auto;
  text-align: center;
  margin-top:10px;
}
.box{
  margin-left:5px;
  margin-bottom:-10px;
}
#check{
  margin-left:5px;
  margin-top:5px;
}

#distance{
  height:45px;
  border-radius:5px;
  width: 300px;
  margin-left:5px;
}

}



/* .container{
  background-color: rgba(0, 0, 0,0.85);
  border-radius: 5px;
  padding: 20px;
  color: white;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  width:80%;
} */

/* .container-lg {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
} */
/* .ast{
  color:red;
}
#keyword{
  width:350px;
  margin-left:-40px;
  margin-top:-10px;
} */
/* .formD {
  background-color: rgba(0, 0, 0,0.85);
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  color: white;
} */
/* #categoryDropdown{
  color:black;
  background-color: white;
} */
/* #used{
  margin-left:20px;
} */
/* #unspecified{
  margin-left:20px;
} */
/* Common styles for both desktop and mobile */
/* .form-control {
  padding: 10px;
  border-radius: 5px;
  width: 70%;
} */

/* .cond {
  margin-left: 5px;
} */

/* #freeshipping {
  margin-left: 20px;
} */

/* .row {
  margin: 5px;
  margin-top: 20px;
} */

/* Additional styles for smaller screens (mobile) */
/* @media (max-width: 768px) {
  body {
    font-size: 14px;
  } */

  /* .form-control{
    padding:5px;
  }
  .submit,.clear{
    padding:10px;
  } */
  /* .category-dropdown-container{
    text-align: left;
  }
  .form-label, .cond, .dropdown-toggle {
    margin-left: 0;
  }

  .category-dropdown-container {
    text-align: center;
  } */

  /* .formD {
    width: 95%; 
  }

  #distance {
    width: 100%; 
  }

  #zipCode {
    width: 100%; 
    height: 20px;
    padding: 5px;
  }

  .col-md-2,
  .col-md-4,
  .col-md-6,
  .col-xs-12 {
    width: 100%; 
  } */


  /* .submit,
  .clear {
    width: 100%;
  }


  .form-label, .cond, .dropdown-toggle {
    margin-left: 0;
    text-align: left;
  }

  .col-2,
  .col-6 {
    width: 100%;
  }

} */
.active-button {
  background-color: black;
  color: white;
}
.active-button:hover {
  background-color: black;
  color: white; 
}
