/* Default styles */
.container-lg {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.formD {
  background-color: rgba(0, 0, 0, 0.85);
  width: 90%;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  color: white;
}
.error{
  color:red;
}
.form-control {
  padding: 10px;
  border-radius: 5px;
}

.dropdown-toggle{
  background-color: white;
  color: black;
}
.dropdown-toggle:hover{
  background-color: white;
  color:black;
}

.ast {
  color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.category-dropdown-container{
  width:390px;
  float:left;
}
.cond{
  margin-left:5px;
}
#local{
  margin-left:5px;
}
#freeshipping{
  margin-left: 5px;
}
#distance{
  border-radius: 5px;
  height:40px;
  width:390px;
}
.row{
  margin:5px;
  margin-top:20px;
}
#new{
  margin-left:5px;
}
#used{
  margin-left:5px;
}
#unspecified{
  margin-left:5px;
}
.cond{
  margin-left:10px;
}
#zipCode {
  width: 390px;
}

/* Styles for small screens (mobile) */
@media (max-width: 768px) {
  .form-label, .cond, .dropdown-toggle {
    margin-left: 0;
    /* display: inline-block; */
    /* width: 100%; Make labels and inputs take full width */
  }

  .category-dropdown-container {
    text-align: center;
  }
}



/* Additional styles for smaller screens can be added here as needed */
