.container-lg {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.ast{
  color:red;
}
.formD {
  background-color: rgba(0, 0, 0,0.85);
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  color: white;
}
#categoryDropdown{
  color:black;
  background-color: white;
}
#used{
  margin-left:20px;
}
#unspecified{
  margin-left:20px;
}
/* Common styles for both desktop and mobile */
.form-control {
  padding: 10px;
  border-radius: 5px;
  width: 70%;
}

.cond {
  margin-left: 5px;
}

#freeshipping {
  margin-left: 20px;
}

.row {
  margin: 5px;
  margin-top: 20px;
}

/* Additional styles for smaller screens (mobile) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .form-control{
    padding:5px;
  }
  .submit,.clear{
    padding:10px;
  }
  .category-dropdown-container{
    text-align: left;
  }
  .form-label, .cond, .dropdown-toggle {
    margin-left: 0;
  }

  .category-dropdown-container {
    text-align: center;
  }

  .formD {
    width: 95%; /* Adjust width for better mobile layout */
  }

  #distance {
    width: 100%; /* Make the distance input take full width on mobile */
  }

  #zipCode {
    width: 100%; /* Make the zip code input take full width on mobile */
    height: 20px;
    padding: 5px; /* Adjust padding as needed */
  }

  .col-md-2,
  .col-md-4,
  .col-md-6,
  .col-xs-12 {
    width: 100%; /* Make columns take full width on mobile */
  }

  /* Adjust button styles for better mobile layout */
  .submit,
  .clear {
    width: 100%;
  }

  /* Adjust margin and text alignment for labels */
  .form-label, .cond, .dropdown-toggle {
    margin-left: 0;
    text-align: left;
  }

  .col-2,
  .col-6 {
    width: 100%;
  }

}
