<div class="container formD">
    <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4"><h1>Product Search</h1></div>
      <div class="col-md-6"></div>
    </div>
    <div class="row">
      <div class="col-md-12"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2">Keyword<span class="ast">*</span></div>
      <div class="col-md-4">
        <input type="text" placeholder="Enter Product Name (eg. iPhone 8)" class="form-control" id="keyword" formControlName="keyword"> 
        <div *ngIf="searchForm.get('keyword')?.invalid && (searchForm.get('keyword')?.touched || isSubmitted)" class="error" style="color:red;">
        Please enter a keyword.
      </div></div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2">Category</div>
      <div class="col-md-4">
            <select id="categoryDropdown" [formControl]="searchForm.get('category')">
              <option value="All Categories">All Categories</option>
              <option value="Art">Art</option>
              <option value="Baby">Baby</option>
              <option value="Books">Books</option>
              <option value="clothing">Clothing, Shoes & Accessories</option>
              <option value="Computers/Tablets & Networking">Computers/Tablets & Networking</option>
              <option value="Health & Beauty">Health & Beauty</option>
              <option value="Music">Music</option>
              <option value="Video Games & Consoles">Video Games & Consoles</option>
            </select>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2">Condition</div>
      <div class="col-md-4">
        <span class="boxes" class="box">
          <input type="checkbox" id="new" formControlName="new" />
          <label for="new" class="cond">New</label>
          <input type="checkbox" id="used" formControlName="used" />
          <label for="used" class="cond">Used</label>
          <input type="checkbox" id="unspecified" formControlName="unspecified" />
          <label for="unspecified" class="cond">Unspecified</label>
        </span>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2">Shipping Option</div>
      <div class="col-md-4" id="check">
        <span class="checks">
          <input type="checkbox" id="local" formControlName="local" />
          <label class="cond" for="local">Local Pickup</label>
          <input type="checkbox" id="freeshipping" formControlName="freeshipping" />
          <label class="cond" for="freeshipping">Free Shipping</label>
        </span>
      </div>
      <div class="col-md-4">

      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2">Distance (Miles)</div>
      <div class="col-md-4">
        <input
        type="number"
        value="10"
        id="distance"
        class="dist"
        formControlName="distance" 
      />
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">From<span class="ast">*</span></div>
      <div class="col-md-4" id="rad" >     
          <input
          type="radio"
          id="current"
          value="current"
          formControlName="location"
          (change)="onLocationChange('current');"
          checked
        />
      <label class="cond" for="current">'Current Location'</label>
      <div>
        <input
        type="radio"
        id="other"
        value="other"
        formControlName="location"
        (change)="onLocationChange('other');"
      />
      <label class="cond" for="location">Other. Please specify zip code:</label>
      </div>
    </div>  
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4" id="zip" >
        <input #zipCodeInput (input)="onZipCodeChange(zipCodeInput.value)" 
        [formControl]="searchForm.get('rzipCode')"
        [matAutocomplete]="auto"
        type="text"
        class="mat-input-element form-control"
        id="zipCode"
        style="width: 330px;margin-left:-230px;"
        [disabled]="selectedLocation !== 'other'"
      />
      
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onZipCodeSelected($event)">
        <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">
          {{suggestion}}
        </mat-option>
      </mat-autocomplete>
      <div *ngIf="otherLocationSelected && vrzipcode  && selectedLocation==='other'" class="ferror" style="color:red;"
      >
        Please enter a valid zip code.
      </div>
    </div>
      <div class="col-md-4"></div>
    </div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <button
    id="sub"
    type="submit"
    class="btn btn-light submit"
    [disabled]="(searchForm.get('location').value === 'other' && !searchForm.get('keyword').valid) || (selectedLocation !== 'current' && searchForm.get('location').value !== 'other') && !clearClicked"
  >
    <span class="material-icons" style="display: inline-block; vertical-align: middle;">search</span>
    <span style="display: inline-block; vertical-align: middle;">Search</span>
  </button>
  
  
  <button type="reset" class="btn btn-light clear" (click)="onClear()" id="reset">
    <span class="material-icons" style="display: inline-block; vertical-align: middle;">clear_all</span>
    <span style="display: inline-block; vertical-align: middle;">Clear</span>
  </button>
</div>
  <div class="col-md-2"> </div>
  <div class="col-md-2"></div>
</div>
  </form>
  </div>
  <div class="button-container">
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6" style="text-align: left;">
      <button type="reset" class="btn results" id="result" (click)="activateResultsTab()" [class.active-button]="showResultsTab">
        Results
      </button>
      <button type="reset" class="btn wish" id="wish" (click)="activateWishListTab()" [class.active-button]="showWishListTab">
        WishList
      </button>
</div>
<div class="col-md-2"></div>
</div>  
</div>
  <div class="container-fluid">
    <app-result-table *ngIf="resultTableData.length > 0 && !showWishListTab" [result]="resultTableData" [resultActive]="showResultsTab" [showWishListTab]="showWishListTab" [wishlistVisited]="wishlistVisited" [fromWishList]="true"></app-result-table>
    <div class="alert alert-warning" role="alert" *ngIf="showResultValue && resultTableData.length === 0 && !showWishListTab">
      No Records.
    </div>
    <app-wishlist *ngIf="showWishListTab && !showResultsTab" ></app-wishlist>
  </div>