.tbr{
    margin:auto;
    width:85%;
}
   
.result{
    width:100%;
    margin:auto;
    padding:auto;

}
.shopping{
    background-color: white;
    width:25px;
    height:5px;
}
.pagination{
    justify-content: center;
}
.custom-link {
    color: #007bff; /* Apply your custom link color here */
    text-decoration: none;
}

.custom-link:visited {
    color: #4a90e2;
}
.progress{
    width:80%;
    margin:auto;
    padding:auto;
}
.details{
    float:right;
    display: block;
}